@keyframes appear {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes disappear {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0%;
	}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
	width: 95%;
	margin: 0 auto;
}

.games-list {
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
}

.playing, .played {
	animation: appear 0.4s;
	margin: 2px;
	font-weight: bold;
	border-radius: 2em;
	padding: 1em;
	width: 240px;
	height: 240px;
}

.playing {
	background-image: url('./img/rps.gif');
}